.modal_content {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
}
.modal_add-task {
  /* display: flex; */
}

.modal_title {
  margin: 10px 0;
}

.modal_button {
  color: white !important;
  height: 100%;
  border-color: white !important;
  width: 100%;
}
.modal_button:hover {
  border-color: rgb(204, 202, 202) !important;
}

.modal_switch {
  display: flex;
}
.modal_switch_label {
  display: flex;
  align-items: center;
}
