.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar_name {
  display: flex;
  margin-left: 13px;
  align-items: center;
  color: var(--white-color);
}
.navbar_name_text {
  font-weight: 400;
  font-size: 36px;
}
.navbar_settings {
  display: flex;
  align-items: center;
  color: var(--white-color);
  border-radius: 10px;
  margin-right: 15px;
}
.navbar_settings:hover {
  cursor: pointer;
}
